<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center full-post">
    <div class="card">
        {% if current_user.is_student %}
            {% if current_user.favorited_projects and post['id']|string in current_user.favorited_projects.split(",") %}
                <div class="post_star ion-ios-star star" data-id="{{post['id']}}"></div>
            {% else %}
                <div class="post_star ion-ios-star-outline star-outline" data-id="{{post['id']}}"></div>
            {% endif %}
        {% endif %}

        {% if current_user.net_id == post['professor_id']: %}
            <p class="edit more"><a href="/posts/{{post['id']}}/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a><p>
        {% endif %}

        <h1 class="title">{{ post["title"] }}</h1>
        <h2 class="professor">{{ post['professor_name'] }}, {{ "{:%b %d, %Y}".format(post['date_created']) }} </h2> 
        <br> 
        <label> Description </label> 
         <p class="description">
         {% for line in post['description'].split('\n') %}
             {{line}}<br>
         {% endfor %}
         </p>
        {% if isInIndex: %}
        <!--<a class="more" href="/posts/{{post['id']}}">Read more &rsaquo;</a>-->
        {% elif post['project_link']: %}
        </br>
        <label> Project Website </label> 
        <p> <a href="{{post['project_link']}}" class="more"> <i class="fa fa-external-link" aria-hidden="true"></i> External Project Site </a> </p> 
        {% endif %} 
         <br> 

        <label> Topics </label> 
        <ul class="tags">
            {% for tag in post['tags'] %}
            <a class="tag fullpost-tags" href="/?tags={{tag}}">{{tag}}</a>
            {% endfor %}
        </ul>
        <br>
        {% if post['courses'] %}
            <label> Required Courses </label> 
            <ul class="tags fullpost-tags">
                {% for course in post['courses'] %}
                    <span class="tag course-tag">{{course}}</span>
                {% endfor %}
            </ul>
        {% endif %}
        <br> 
        <br> 
         {% if post['contact_email']: %} 
             <label> Contact Information </label> 
            <div class="contact">If interested, email {{ post['professor_name'] }} at <a href='mailto:{{ post["contact_email"] }}'>{{ post["contact_email"] }}. </a></div>
        {% endif %}
       <br>
    </div>
</div>
