<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top shadowed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index"><img class="crs-logo" src="{{url_for('static', filename='images/CRS-logo.svg')}}"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated and not current_user.is_student: %}
        <li><a href="../posts/create"><i class="fa fa-pencil-square-o"
                                         aria-hidden="true"></i> Submit Listing</a></li>
        {% endif %}
        <li><a href="../posts"><i class="fa fa-globe" aria-hidden="true"></i> All Posts</a></li>
        {% if current_user.is_authenticated: %}
        <li><a href="../profile/{{current_user.net_id}}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Profile</a></li>
        <li><a href="../logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out </a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<meta data-user-id={{current_user.net_id}}>
<p>CURRENT USER: {{current_user.name}}</p>
<p>CURRENT NET_ID: {{current_user.net_id}}</p>
