<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top shadowed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index"><img class="crs-logo" src="{{url_for('static', filename='images/CRS-logo.svg')}}"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../posts"><i class="fa fa-globe" aria-hidden="true"></i> All Posts</a></li>
        <li><a href="../posts/create"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create Post</a></li>
        <li><a href="../profile/laz37"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Posts</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>