<div class="card">
    <h1 class="title">{{ post["title"] }}</h1>
    <h2 class="professor">{{ post["professor_id"] }}</h2>
    <p class="description">{{ post["description"] }}</p>
    <ul class="tags">
        <a class="tag" href="">summer</a>
        <a class="tag" href="">compilers</a>
        <a class="tag" href="">C++</a>
        <a class="tag" href="">unpaid</a>
    </ul>  
    {% if isInIndex: %}
    <a href="/posts/{{ post['id'] }}" class="no-decoration"><div class="link-bar">
        Learn More &#10095;
    </div></a>
    {% endif %}
</div>