<!-- PROFESSOR PROFILE PAGE --> 
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#myprofile" aria-controls="myprofile" role="tab" data-toggle="tab">My Profile</a></li>
    <li role="presentation"><a href="#starred" aria-controls="starred" role="tab" data-toggle="tab">Active Posts</a></li>
    <li role="presentation"><a href="#inactive-posts" aria-controls="inactive-posts" role="tab" data-toggle="tab">Inactive Posts</a></li>
    </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="myprofile">

            <form method="POST" onsubmit="return validate(this)">    
                <div class="profile">
                    <div class="header card">
                        <span id="edit-profile"> <i class="fa fa-pencil-square-o" aria-hidden="true"
                                style="margin-left: 5px" height="50%" width="50%"></i> Edit profile </span> 

                        <!-- professor name -->
                        <div class="form-group validate-input">
                            <label>Name</label>
                            <div id="name-editable" class="name">
                                {{current_user.name}}
                                <hr>
                            </div>
                        </div>

                        <!-- professor email -->
                        <div class="form-group validate-input validate-input-email">
                            <label>Contact Email</label>
                            <div id="email-editable">
                                {{current_user.email}}
                            </div>
                        </div>

                        <!-- professor website -->
                        <div class="form-group">
                            <label>Website</label>
                            <div id="website-editable">
                                {{current_user.website}}
                            </div>
                        </div>

                        <!-- professor office -->
                        <div class="form-group">
                            <label>Office Location</label>
                            <div id="office-editable">
                                {{current_user.office}}
                             
                            </div>
                        </div>

                        <!-- save updates -->
                        <div class="form-group">
                            <input id="save-profile-updates" type="submit" value="Save Updates" class="btn btn-primary">
                        </div>

                        <a href="{{BASE_URL}}/posts/{{current_user.net_id}}/raw">&raquo; Download a copy of your listings.</a>

                    </div>

                </div>
            </form>

        </div>
        <div role="tabpanel" class="tab-pane" id="starred">
            <!-- professor active posts tab  -->
            {% if active_collection: %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% for post in active_collection %}
                            {% include "partials/post.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="profile">
                    <div class="card">
                        <h2>You have no active posts</h2>
                    </div>
                </div>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="inactive-posts">
            <!-- professor inactive posts tab -->
            {% if inactive_collection: %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% for post in inactive_collection %}
                            {% include "partials/post.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="profile">
                    <div class="card">
                        <h2>You have no inactive posts</h2>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{BASE_URL}}/js/validate.js"></script>


<script type="text/javascript">

$('#edit-profile').click(function(event){
    $('#save-profile-updates').css('display', 'block');
    // remove the icon
    $('#edit-profile').html(''); 
    // name
    {% if current_user.name == 'None': %}
    var innertext = ''
    {% else: %}
    var innertext = '{{current_user.name}}'
    {% endif %}
    $('#name-editable').html('<input class="form-control professor-name-input" type="text" name="name" value="'+innertext+'">');
    $('#name-editable').attr('id', 'name-editing');

    // email
    {% if current_user.email == 'None': %}
    var innertext = ''
    {% else: %}
    var innertext = '{{current_user.email}}'
    {% endif %}
    $('#email-editable').html('<input class="form-control" type="text" name="email" value="'+innertext+'">');
    $('#email-editable').attr('id', 'email-editing');

    // website
    {% if current_user.desc == 'None': %}
    var innertext = 'http://'
    {% else: %}
    var innertext = '{{current_user.website}}'
    {% endif %}
    $('#website-editable').html('<input class="form-control" type="text" name="website" value="' + innertext + '">');
    $('#website-editable').attr('id', 'website-editing');

    // office location
    {% if current_user.interests == 'None': %}
    var innertext = ''
    {% else: %}
    var innertext = '{{current_user.office}}'
    {% endif %}
    $('#office-editable').html('<input class="form-control" type="text" name="office_loc" value="' + innertext + '">')
    $('#office-editable').attr('id', 'office-editing');

});


</script>
