<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#myprofile" aria-controls="myprofile" role="tab" data-toggle="tab">My Profile</a></li>
    <li role="presentation"><a href="#starred" aria-controls="starred" role="tab" data-toggle="tab">Active Posts</a></li>
    <li role="presentation"><a href="#inactive-posts" aria-controls="inactive-posts" role="tab" data-toggle="tab">Inactive Posts</a></li>
    </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="myprofile">
            <form method="POST">    
                <div class="profile">
                    <div class="header card">
                        <div class="name">{{current_user.name}}</div>
                        <br>
                        <div class="form-group">
                            <label>Contact Email</label>
                         <div id="email-editable">
                            {{current_user.email}}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                            style="margin-left: 5px"></i> 
                         </div>
                        </div>
                        <div class="form-group">
                            <label>Website</label><br>
                     <div id="website-editable">
                            {{current_user.desc}}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                            style="margin-left: 5px"></i> 
                     </div>
                        </div>
                        <div class="form-group">
                            <label>Office Location</label><br>
                     <div id="office-editable">
                            {{current_user.interests}}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                            style="margin-left: 5px"></i> 
                     </div>
                        </div>
                        <input id="save-profile-updates" type="submit" value="Save Updates" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="starred">
            {% if active_collection: %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% for post in active_collection %}
                            {% include "partials/post.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="profile">
                    <div class="card">
                        <h2>You have no active posts</h2>
                    </div>
                </div>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="inactive-posts">
            {% if inactive_collection: %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        {% for post in inactive_collection %}
                            {% include "partials/post.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="profile">
                    <div class="card">
                        <h2>You have no inactive posts</h2>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
$('#email-editable').click(function(event){
    {% if current_user.email == 'None': %}
    var innertext = ''
    {% else: %}
    var innertext = '{{current_user.email}}'
    {% endif %}
    $('#email-editable').html('<input class="form-control" type="text" name="email" value="'+innertext+'">');
    $(this).attr('id', 'email-editing');
});
$('#website-editable').click(function(event){
    {% if current_user.desc == 'None': %}
    var innertext = 'http://'
    {% else: %}
    var innertext = '{{current_user.desc}}'
    {% endif %}
    $('#website-editable').html('<input class="form-control" type="text" name="website" value="' + innertext + '">');
    $(this).attr('id', 'website-editing');
});
$('#office-editable').click(function(event){
    {% if current_user.interests == 'None': %}
    var innertext = ''
    {% else: %}
    var innertext = '{{current_user.interests}}'
    {% endif %}

    $('#office-editable').html('<input class="form-control" type="text" name="office_loc" value="' + innertext + '">')
    $(this).attr('id', 'office-editing');
});

</script>
