<div class="search">
	<div class="row">
		<div class="form-group">
			<label>Search by Keywords</label>
			<input value="{{keywords}}" autofocus="autofocus" autocomplete="off" class="tags-input keywords" type="text" data-role="tagsinput" name="tags"/>
		</div>
		<div class="form-group">
			<label>Search by Tags</label>
			<input value="{{keywords}}" autofocus="autofocus" autocomplete="off" class="tags-input tags" type="text" data-role="tagsinput" name="tags"/>
		</div>
		<div class="form-group">
			<div class="checkbox graduate_research">
			  <label><input class="checkbox graduate_research" type="checkbox" value="graduate_research">Graduate Research</label>
			</div>
		</div>
		<div class="checkbox">
		  <label><input class="checkbox desired_courses" type="checkbox" value="desired_courses">Desired Courses</label>
		</div>
	</div>
</div>

<script type="text/javascript">
		$('.tags').tagsinput({
	        typeahead: {
	            source: {{ tags | safe }}
	        },
	        freeInput: false,
	        // Typeahead fix
	        onTagExists: function() {
	            setTimeout(function() {
	                $(">input[type=text]",".bootstrap-tagsinput").val("");
	            }, 1);
	        }
	    });
	    $('.tags-input, .checkbox').on('change', function(event) {
	    	console.log($(".keywords").val());
	    	console.log($(".tags").val());
	    	console.log($(".graduate_research").is(":checked"));
	    	console.log($(".desired_courses").is(":checked"));
    		$.ajax({
			    type: 'GET',
			    url: "/search",
			    contentType: 'application/json',
			    dataType: "json",
			    data: {
			    	keywords: $(".keywords").val(),
			    	tags: $(".tags").val(),
			    	graduate_research: $(".graduate_research").is(":checked"),
			    	desired_courses: $(".desired_courses").is(":checked")
			    },
			    success: function(response) {
			    	$(".posts").empty();
			    	response.rendered_posts.forEach(function(post) {
			    		$(".posts").append(post);
			    	});
			    },
			    failure: function(response) {
			        console.log(response);
			    }
			});	
	        setTimeout(function(){
	            $(">input[type=text]",".bootstrap-tagsinput").val("");
	        }, 1);
	    });
		$(document).ready(function() {
			$('.bootstrap-tagsinput').click();
		});
</script>