<div class="search">
	<form method="GET">
		<div class="row">
			<div class="form-group">
				<label>Search by Phrase</label>
				<div class="phrase-input">
					<input value="{{phrase}}" type="text" name="phrase"/>
				</div>
			</div>
			<div class="form-group">
				<label>Search by Tags</label>
				<input value="{{search_tags}}" autofocus="autofocus" autocomplete="off" class="tags-input input_tags" type="text" data-role="tagsinput" name="search_tags"/>
			</div>
			<div class="checkbox">
			  <label><input class="checkbox desired_courses" type="checkbox" value="desired_courses">Match on required courses</label>
			</div>
			<input type="submit" class="btn btn-primary" value="Search">
		</div>
    </form>
</div>

<script type="text/javascript">
	$('.input_tags').tagsinput({
        typeahead: {
            source: {{ tags | safe }}
        },
        freeInput: false,
        // Typeahead fix
        onTagExists: function() {
            setTimeout(function() {
                $(">input[type=text]",".bootstrap-tagsinput").val("");
            }, 1);
        }
    });
    $('.input_tags').on('itemAdded', function(event) {
        setTimeout(function(){
            $(">input[type=text]",".bootstrap-tagsinput").val("");
        }, 1);
    });
    // No Enter button
    $('.bootstrap-tagsinput').keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
</script>