<div class="search">
	<div class="row">
		<label>Search</label>
		<input value="{{keywords}}" autofocus="autofocus" autocomplete="off" class="tags-input" type="text" data-role="tagsinput" name="tags"/>
	</div>
</div>

<script type="text/javascript">
		$('.tags-input').tagsinput({
	        typeahead: {
	            source: {{ tags | safe }}
	        },
	        freeInput: true,
	        // Typeahead fix
	        onTagExists: function() {
	            setTimeout(function() {
	                $(">input[type=text]",".bootstrap-tagsinput").val("");
	            }, 1);
	        }
	    });
	    $('.tags-input').on('change', function(event) {
	    	console.log($(".tags-input").val());
	    	if($(".tags-input").val() == "") {
	    		window.location = "/";
	    	} else {
	    		$.ajax({
				    type: 'GET',
				    url: "/search/keywords="+$(".tags-input").val(),
				    success: function(response) {
				    	window.location = "/search/keywords="+$(".tags-input").val();
				    	console.log(response);
				        
				    },
				    failure: function(response) {
				    	window.location = "/search/keywords="+$(".tags-input").val();
				        console.log(response);
				    }
				});	
	    	}
	        setTimeout(function(){
	            $(">input[type=text]",".bootstrap-tagsinput").val("");
	        }, 1);
	    });
		$(document).ready(function() {
			$('.bootstrap-tagsinput').click();
		});
</script>