$primary-color: #FE1736;
// $primary-color-dark: #1a2b53;

// Red
$primary-color-dark: #ad1b1b;

$border-color: #e7e7e7;
$background-color: #f9f8fb;

$title-color: #000000;
$text-color: #444444;

$tags-color: #333333;

$border-radius: 3px;

body {
	margin-top: 80px;
	background-color: $background-color;
}
h1 {
	font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $title-color;
}
p, a {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
}


.navbar {
	background-color: $primary-color-dark;
	border: 0;

	.navbar-brand {
		padding: 10px 15px 0;
		img {
			height: 40px;
		}
	}

	.nav > li > a {
		color: #fff;
		line-height: 30px;

		&:focus,
		&:hover {
			background-color: rgba(255,255,255,.3);	
		}
	}	

}


.card {
	border-radius: $border-radius;
	background-color: #fff;
	max-width: 100%;
	padding: 10px 30px 0 30px;
	margin-bottom: 30px;
	cursor: pointer;

	.title {
		margin-bottom: 20px;
		text-transform: capitalize;
	}
	.professor {
		font-weight: 500;
		font-size: 15px;
	}
	.description {
		// Would like to move this out of here to apply to all text.
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;
		padding-bottom: 10px;
		a.learnmore {
			color: $primary-color;
		}
	}

}

.search {
	padding: 20px;
	border: 1px solid $border-color;
}

.shadowed {
	box-shadow: .1px .1px .1px .1px rgba(33,33,33,.2);
}


.tags {
	padding-bottom: 10px;
	
	li {
		// Would like to move this out of here to apply to all text.
		-webkit-font-smoothing: antialiased;
		font-size: 12px;
		display: inline-block;
		text-decoration: none;
		color: $tags-color;
		border: 1px solid;
		padding: 3px 14px;
		margin-right: 5px;
		border-radius: $border-radius;
		text-transform: lowercase;

		&:last-child {
			margin-right: 0;
		}
	}
}


// .grow { transition: all .1s ease-in; }
// .grow:hover { transform: translateY(-1px); }