<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

    <!-- TODO: replace this with a partial and a function to generate cards -->

    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center">
        <div class="card">
            <form method="POST">

                <div class="form-group">
                    <label>Project Title*:</label>
                    <input type="text" name="post_title" class="form-control"
                                                         value="{{post['title']}}">
                </div>

                <div class="form-group">
                    <label>Project Link:</label>
                    <input type="text" name="project-link" class="form-control"
                                                           value="{{post['project_link']}}">
                </div>

                <div class="form-group">
                    <label>Project Description*:</label>
                    <textarea name="post_description" class="form-control"
                              id="post_description" rows="5">{{post['description']}}</textarea>
                </div>

                <div class="form-group">
                    <label>Topics*:</label><br>
                    <p class="helper text"> Search and select research topics relevant to this listing. </p> 
                    <input autocomplete="off" class="tags-input" type="text"
                                                                 data-role="tagsinput"
                                                                 name="tags"
                                                                 value="{{post['tags']}}"/>
                </div>


                {#
                <div class="form-group">
                    <label>Required Skills:</label>
                    <textarea name="required-skills" class="form-control" rows="5"></textarea>
                </div>
                #}

                <div class="form-group">    
                    <label>Through which semester would you like to keep this listing live? </label> <br>
                    <select class="form-control" name="stale-days">
                         {% for i in range(options|length) %}
                             <option value={{i}}> {{ options[i] }}</option>
                          {% endfor %}
                            <option value="-1"> Continously </option> 
                    </select>
                </div>

                <div class="form-group">
                    <label>Contact Email*:</label>
                    <input type="text" name="post_professor_email" class="form-control" value='{{current_user.email}}'>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit Listing">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var TAGS = {{ all_tags | safe }};
        $('.tags-input').tagsinput({
            typeahead: {
                source: TAGS
            },
            freeInput: false,
            // Typeahead fix
            onTagExists: function() {
                setTimeout(function() {
                    $(">input[type=text]",".bootstrap-tagsinput").val("");
                }, 1);
            }
        });
        $('.tags-input').on('itemAdded', function(event) {
            setTimeout(function(){
                $(">input[type=text]",".bootstrap-tagsinput").val("");
            }, 1);
        });
        // No Enter button
        $('.bootstrap-tagsinput').keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        var typingTimer;                //timer identifier
        var doneTypingInterval = 500;  //time in ms (5 seconds)

        //on keyup, start the countdown
        $('#post_description').keyup(function(){
            clearTimeout(typingTimer);
            if ($('#post_description').val()) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //user is "finished typing," do something
        function doneTyping () {
            var description = $('#post_description').val();
            $.each(TAGS, function(i, value) {
                if (description.includes(value) && value.length > 1 &&
                        value != 'other') {
                    $('.tags-input').tagsinput('add', value);
                }
            });
        }

    </script>

{% endblock %}
