<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}


    <!-- TODO: replace this with a partial and a function to generate cards -->
    <div class="card container shadowed grow">
    <form method="POST">

        <div class="form-group">
            <h1>Title:</h1>
        	<input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <h1>Content:</h1>
            <textarea name="description" class="form-control" rows="10"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
    </div>


{% endblock %}
