<!-- extend base layout -->
{% extends "base.html" %}
{% block search %}
	{% include "partials/search.html" %}
{% endblock %}
{% block content %}
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<div class="row posts">
	    {% for i in range(posts|length) %}
	    	{% if i % 2 == 0 and i > 1 %}
	    		</div>
	    	{% else %} 
	    		<div class="row">
	    	{% endif %}
			{% with post = posts[i] %}       
	    	{% include "partials/post.html" %}
	    	{% endwith %}
	    {% endfor %}
	</div>
    <span class="pagination">
        {% if page > 1: %}
        <a href="{{base_url}}/?page={{ page - 1 }}{{ search_url }}">&laquo; Previous</a> | 
        {% endif %}
    Page {{page}}
        {% if has_next_page: %}
        | <a href="{{base_url}}/?page={{ page + 1 }}{{ search_url }}">Next &raquo;</a>
        {% endif %}
    </span>
{% endblock %}
