<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="card narrow">
<h1>Sign In</h1>
<br>
<form action="" method="post" name="login">
  {{ form.hidden_tag() }}

  <div class="form-group">
  	<label>Email:</label>
  	{{ form.email(class_="form-control") }}
	</div>
  
  <div class="form-group">
  	<label>Password:</label>
  	{{ form.password(class_="form-control") }}
  </div>
  
  <div class="form-group">
  	<input type="submit" value="Sign In" class="btn btn-primary btn-block">
  </div>

</form>
</div>

{% endblock %}