<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}

    
    <div class="spacer"></div>
    <!-- TODO: replace this with a partial and a function to generate cards -->

    <div class="card container grow">
        <h1 class="title">{{ post["title"] }}</h1>
        <h2 class="professor">{{ post["professor_id"] }}</h2>
        <p class="description">{{ post["description"] }}</p>
        <a class="more" href="/posts/{{ post['id'] }}">Read more...</a>
        <ul class="tags">
            <a class="tag" href="">summer</a>
            <a class="tag" href="">compilers</a>
            <a class="tag" href="">C++</a>
            <a class="tag" href="">unpaid</a>
        </ul>
    </div>

{% endblock %}
