{% extends "base.html" %}
{% block content %}

<code>.btn btn-primary</code>
<a class="btn btn-primary">button</a>

<code>.btn btn-secondary</code>
<a class="btn btn-default">button</a>

<code>.tag</code>
<a class="tag" href="#">a sample tag</a>

<code>.card</code>
<div class="card">
	<h1>Some content here</h1>
	<p>content here also boyyyy</p>
</div>

<code>label and .form-control</code>
<label>A sample label</label>
<input class="form-control" type="" name="">

<code>.form-control.tall</code>
<input class="form-control tall" type="" name="">

<br>
<br>
<br>
<br>
<br>
{% endblock %}

