@import 'partials/colors';

$border-radius: 3px;

body {
	margin-top: 80px;
	background-color: $background-color;
}
h1 {
	font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $title-color;
}
p, a {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
}


.navbar {
	background-color: $primary-color-dark;
	border: 0;

	.navbar-brand {
		padding: 10px 15px 0;
		img {
			height: 40px;
		}
	}

	.nav > li > a {
		color: #fff;
		line-height: 30px;

		&:focus,
		&:hover {
			background-color: rgba(255,255,255,.3);	
		}
	}	

}


.card {
	border-radius: $border-radius;
	background-color: #fff;
	max-width: 100%;
	padding: 10px 30px 0 30px;
	margin-bottom: 30px;

	.title {
		margin-bottom: 20px;
		text-transform: capitalize;
	}
	.professor {
		font-weight: 500;
		font-size: 15px;
	}
	.description {
		// Would like to move this out of here to apply to all text.
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;
		padding-bottom: 10px;
		a.learnmore {
			color: $primary-color;
		}
	}
	.more {
		color: #337ab7;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}

}

.search {
	padding: 20px;
	border: 1px solid $border-color;
}

.shadowed {
	box-shadow: .1px .1px .1px .1px rgba(33,33,33,.2);
}


.tags {
	padding-bottom: 10px;
	a {
		li {
			// Would like to move this out of here to apply to all text.
			-webkit-font-smoothing: antialiased;
			font-size: 12px;
			display: inline-block;
			text-decoration: none;
			color: $tags-color;
			border: 1px solid;
			padding: 3px 14px;
			margin-right: 8px;
			border-radius: $border-radius;
			text-transform: lowercase;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.profile {
	.card {
		padding-bottom: 30px;
	}
	img {
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 200px;
		border: 1px solid black;
	}
	.name {
		font-size: 32px;
		text-align: center;
	}
	.description {
		padding-top: 20px;
		text-align: center;
		color: #111;
		width: 60%;
		text-align: center;
		margin: auto;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 20px;
	}
	.resume {
		border: 1px solid $primary-color-dark;
		border-radius: 50px;
		padding: 10px 40px;
		margin: auto;
    	display: inherit;
    	background: transparent; 
    	color: $primary-color-dark;
    	transition: .2s;
    	&:hover {
			background: $primary-color-dark;
			color: white;
		}
	}
	.title {
		color: #999;
		padding-top: 20px;
		font-size: 16px;
	}
	.item {
		font-size: 16px;
		color: #444;
		padding: 10px 0;
		.listed {
			display: inline;
			color: #333;
			border: 1px solid #666;
			border-radius: 3px;
			padding: 3px 9px;
			font-size: 14px;
			margin-left: 3px;
			margin-right: 6px;
		}
	}
}