@import 'partials/colors';
@import 'partials/search';

$border-radius: 3px;

.center {
	margin: auto;
	float: none;
}

body {
	margin-top: 60px;
	background-color: $background-color;
}
h1 {
	font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $title-color;
}
p, a {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
}


.navbar {
	background-color: $primary-color;
	border: 0;
	margin-bottom: 0px;
	.navbar-brand {
		padding: 10px 15px 0;
		img {
			height: 40px;
		}
	}

	.nav > li > a {
		color: #fff;
		line-height: 30px;

		&:focus,
		&:hover {
			background-color: rgba(255,255,255,.3);	
		}
	}	

}


.card {
	border-radius: $border-radius;
	background-color: #fff;
	max-width: 100%;
	padding: 10px 30px;
	margin-bottom: 30px;
	box-shadow: 0px 2px 2px rgba(0,0,0,.1);
	.title {
		margin-bottom: 20px;
		text-transform: capitalize;
	}
	.professor {
		font-weight: 500;
		font-size: 15px;
	}
	.description {
		// Would like to move this out of here to apply to all text.
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;
		padding-bottom: 10px;
		a.learnmore {
			color: $primary-color;
		}
	}
	.more {
		color: #337ab7;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}

}

.shadowed {
	box-shadow: .1px .1px .1px .1px rgba(33,33,33,.2);
}


.tag {
	text-decoration: none !important;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
	color: $tag-color;
	border: 1px solid;
	padding: 3px 14px;
	margin-right: 8px;
	border-radius: $border-radius;
	text-transform: lowercase;

}
.tags {
	padding-left: 0;
}

.profile {
	.card {
		padding-bottom: 30px;
	}
	img {
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 200px;
		border: 1px solid black;
	}
	.name {
		font-size: 32px;
		text-align: center;
	}
	.description {
		padding-top: 20px;
		text-align: center;
		color: #111;
		width: 60%;
		text-align: center;
		margin: auto;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 20px;
	}
	.resume {
		border: 1px solid $primary-color;
		border-radius: 50px;
		padding: 10px 40px;
		margin: auto;
    	display: inherit;
    	background: transparent; 
    	color: $primary-color;
    	transition: .2s;
    	&:hover {
			background: $primary-color;
			color: white;
		}
	}
	.title {
		color: #999;
		padding-top: 20px;
		font-size: 16px;
	}
	.item {
		font-size: 16px;
		color: #444;
		padding: 10px 0;
		.listed {
			display: inline;
			color: #333;
			border: 1px solid #666;
			border-radius: 3px;
			padding: 3px 9px;
			font-size: 14px;
			margin-left: 3px;
			margin-right: 6px;
		}
	}
}




code {
	display: block;
	margin-top: 30px;
	padding: 30px 0;
}


.btn {
	transition: 300ms;
}
.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover {
		background-color: lighten($primary-color, 20%);
		border-color: $primary-color;
	}
}


.form-control {
	border-color: $border-color;
	&.tall {
		height: 45px;
	}
}
label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 11px;
}