@import 'partials/colors';
@import 'partials/search';

$border-radius: 3px;

.center {
	margin: auto;
	float: none;
}

.home {
	padding-top: 30px;
}

body {
	margin-top: 60px;
	background-color: $background-color;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	color: $title-color;
}
p, a {
	color: $text-color;
}

.nav-tabs {
	font-weight: 300;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    &>li.active>a, 
    &>li.active>a:focus, 
    &>li.active>a:hover {
		color: #333;
    	font-weight: 400;
    	border: none;
    	border-bottom: 2px solid $primary-color;
    }
    &>li>a {
    	border: none;
    	padding: 12px 17px;
    }
    &>li>a:hover {
    	color: #444;
    	text-decoration: none;
    	border: none;
    	background-color: #FFFFFF;
    }
}

.navbar {
	background-color: $primary-color;
	border: 0;
	margin-bottom: 0px;
	.navbar-brand {
		padding: 10px 15px 0;
		img {
			height: 40px;
		}
	}

	.nav > li > a {
		color: #fff;
		line-height: 30px;

		&:focus,
		&:hover {
			background-color: rgba(255,255,255,.3);	
		}
	}
}

.full-post {
	.card {
		.title {
			font-size: 26px;
		}
		.description {
			font-size: 15px;
		}
		.professor {
			font-size: 16px;
			margin-bottom: 10px;
		}
		.contact {
			font-weight: 400;
		    padding-bottom: 5px;
		    -webkit-font-smoothing: antialiased;
		    color: #444;
		    font-size: 14px;
			a {
				color: $color-blue;
			}
		}
		.edit {
			position: absolute;
			right: 40;
			top: 20;
			a {
				color: $color-blue;
				&:hover {
					text-decoration: none;
				}
			}
			.content {
				padding-left: 5px;
			}
		}

		.tags{
			margin-top: 0px;
		}
	}
}

.fullpost-tags {
	margin: 0px;
	.course-tag {
		&:hover {
			color: #888888;
		}
	}
}
.card {
	border-radius: $border-radius;
	background-color: #fff;
	max-width: 100%;
	padding: 30px 30px;
	margin-bottom: 30px;
	box-shadow: 0px 2px 2px rgba(0,0,0,.1);
	font-weight: 300 !important;
	.title {
		font-size: 18px;
	    margin-top: 0px;
	    font-weight: 400;
	    margin-bottom: 5px;
	}
	.professor {
		margin-top: 10px;
	    margin-bottom: 5px;
	    font-weight: 500;
	    color: #555;
	    font-size: 14px;
	}
	.description {
		// Would like to move this out of here to apply to all text.
		-webkit-font-smoothing: antialiased;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.65;
		a.learnmore {
			color: $primary-color;
		}
		padding-top: 5px;
	}
	.more {
		color: #337ab7;
		display: block;
		font-size: 14px; 
		&:hover {
			text-decoration: none;
		}
	}

	.link-bar {
		transition: all 300ms;
		background-color: lighten($primary-color, 15%);
		background-color: #52c96a;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: -30px;
		padding: 10px 15px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		letter-spacing: 1px;
		font-size: 12px;
		opacity: 0;
		&:hover {
			text-decoration: none !important;			
		}
	}

	&:hover {
		.link-bar {
			opacity: 1;
		}
	}
	.post_star{
		&:hover {
			cursor: pointer;
		}
	}
	.star {
		float: right;
	    font-size: 25px;
	    color: gold;
	}
	.star-outline {
		float: right;
	    font-size: 25px;
	    color: #666;
	}

	&.narrow {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.edit {
		position: absolute;
		right: 40;
		a {
			color: $color-blue;
			&:hover {
				text-decoration: none;
			}
		}
		.content {
			padding-left: 5px;
		}
	}
	.post_date {
		font-weight: 400;
		color: #555;
		padding-right: 1%;
		letter-spacing: -0.5;
	}
}

.inactive {
	background: #fafafa;
    border: 1px solid #eaeaea;
    box-shadow: none;
}

.shadowed {
	box-shadow: .1px .1px .1px .1px rgba(33,33,33,.2);
}


.tag {
	margin-top: 10px;
	text-decoration: none !important;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	display: inline-block;
	color: #888888;
	text-decoration: none;
	background: #ececec;
	padding: 6px 16px;
    margin-right: 8px;
    border-radius: 2px;
	text-transform: lowercase;
	&:hover {
		color: #AD1B1B;
		// font-weight: bolder; 
	}

}
.tags {
	margin-top: 10px;
	padding-left: 0;
}

.profile {
	img {
		margin-top: 30px;
		margin-bottom: 30px;
		max-height: 200px;
		border: 1px solid black;
	}
	.name {
		font-size: 32px;
		text-align: left;
	}
	.description {
		padding-top: 20px;
		text-align: center;
		color: #111;
		width: 60%;
		text-align: center;
		margin: auto;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 20px;
	}
	input[type="file"] {
    	display: none;
	}
	.file-selected {
		padding-left: 5px;
	}
	.checkbox {
		label {
			color: #444;
		    text-transform: none;
		    letter-spacing: 0px;
		    font-size: 12px;
		}
	}
	.resume {
	    border: 1px solid #ad1b1b;
	    border-radius: 3px;
	    display: inline-block;
	    padding: 6px 12px;
	    cursor: pointer;
	}
	.title {
		color: #999;
		padding-top: 20px;
		font-size: 16px;
	}
	.item {
		font-size: 16px;
		color: #444;
		padding: 10px 0;
		.listed {
			display: inline;
			color: #333;
			border: 1px solid #666;
			border-radius: 3px;
			padding: 3px 9px;
			font-size: 14px;
			margin-left: 3px;
			margin-right: 6px;
		}
	}
	#save-profile-updates {
		margin-top: 15px;
	    display: none;
	    font-family: 'Open Sans';
	    font-weight: 300;
	    padding: 6px 14px;
	}
}




code {
	display: block;
	margin-top: 30px;
	padding: 30px 0;
}


.btn {
	transition: 300ms;
}
.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	&:hover {
		background-color: lighten($primary-color, 20%);
		border-color: $primary-color;
	}
}


.form-control {
	border-color: $border-color;
	&.tall {
		height: 45px;
	}
}
.availability {
	.form-group {
		display: inline-block;
	}
}
.weekday {
	text-transform: none;
    letter-spacing: 0;
    color: #888;
    font-size: 12px;
}
	

label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 11px;
	color: $primary-color;
}
.spacer {
	height: 50px;
}
p.helper-text{
	font-size: 11px; 
	letter-spacing: 1; 
	color: #888; 
}

a.no-decoration {
	text-decoration: none !important;
}
.bootstrap-tagsinput {
	min-width: 100%;
	.tag {
		background: $primary-color;
	    font-family: 'Open Sans';
	    margin-top: 2px;
	    margin-bottom: 2px;
	    text-transform: none !important;
	}
}
.twitter-typeahead {
	.tt-input {
		vertical-align: 0 !important;
	}
}

.alert {
	background-color: $border-color;
	* {
		margin-bottom: 0;
	}
}
.pagination {
	display: block;
	text-align: center;
	span {
		display: inline;
	    padding: 3.9px 20px;
	    background: white;
	    border-top: 1px solid $primary-color;
	    border-bottom: 1px solid $primary-color;
	    border-left: 1px solid $primary-color;
	    border-right: 1px solid $primary-color;
	    text-align: center;
	}
	a {
	    background: $primary-color;
	    color: white;
	    padding: 5px 25px 5px 25px;
	    border: none;
	}
	.prev {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		&:hover {
	    	text-decoration: none;
	    }
	}
	.next {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		&:hover {
	    	text-decoration: none;
	    }
	}
}
.btn-primary {
	border-radius: 3px;
    color: #ad1b1b;
    background: white;
    padding: 5px 25px;
    transition: .2s;
    &:hover {
    	color: #FFFFFF;
    	background: #ad1b1b;
    }
}

.toggle {
	text-transform: lowercase;
	position: relative;
	display: block;
	overflow: hidden;
	.btn-primary {
		background-color: #ad1b1b;
    	color: white;
	}
}
.activate-post-toggle {
	display: inline;
}