// Red
$primary-color: #ad1b1b;
$primary-color-light: #FE1736;

$border-color: #e7e7e7;
$background-color: #f9f8fb;

$title-color: #000000;
$text-color: #444444;

$tag-color: #333333;

$color-blue: #3076AB;