// colors
$color-blue: #3076AB;

$primary-color: #ad1b1b;
$primary-color-light: #FE1736;

$border-color: #ccc;
$background-color: #f9f8fb;
$title-color: #000000;
$text-color: #444444;

$tag-color: #333333;

// utilities
$border-radius: 4px;
