<html>
  <head>
    {% if title %}
    <title>{{ title }} - Cornell Research Portal</title>
    {% else %}
    <title>Cornell Research Portal</title>
    {% endif %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% include "partials/header.html" %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
